.col-xs-5
  = simple_form_for membership do |f|
    %h4 Work on project
    .row
      .col-xs-6
        = f.input :from, wrapper: :prepend, input_html: { value: f.object.from.try(:to_s, :date) }, label_html: { class: 'input-group-addon' }
      .col-xs-6
        = f.input :to, wrapper: :prepend, input_html: { value: f.object.to.try(:to_s, :date) }, label_html: { class: 'input-group-addon' }

    = f.association :project, collection: projects.decorate, include_blank: false
    = f.association :user, collection: users.decorate, include_blank: false
    = f.association :role, collection: roles.decorate, include_blank: false

    .actions
      = f.button :submit, class: "btn-success"
