.col-xs-5
  = simple_form_for membership do |f|
    %h4 Work on project
    .row
      .col-xs-6
        = f.input :from, as: :date_picker, wrapper: :prepend, label_html: { class: 'input-group-addon' }
      .col-xs-6
        = f.input :to, as: :date_picker, wrapper: :prepend, label_html: { class: 'input-group-addon' }

    - f.with_options include_blank: false do |g|
      = g.association :project, collection: projects
      = g.association :user, collection: users
      = g.association :role, collection: roles

    .actions
      = f.button :submit, class: "btn-success"
