- if memberships.present?
  %table.table.table-striped.table-hover
    %thead
      %th Project
      %th User
      %th Role
      %th From
      %th To
    %tbody
      - memberships.each do |membership|
        %tr
          %td= membership.project.name
          %td= membership.user.decorate.name
          %td= membership.role
          %td= membership.from.to_date
          %td= membership.to ? membership.to.to_date : content_tag("span", "till now", class: "label label-success")
- else
  %h2 No memberships

= link_to "New membership", new_membership_path, class: "btn btn-primary"
