%table.table.table-striped.table-hover
  %thead
    %th
    %th User
    %th Role
    %th Internships
    %th Recruited
    %th Employment
    %th Project
    %th Email
    %th Phone
    %th Github
  %tbody
  - users.each do |user|
    %tr
      %td= user.gravatar_image(size: 40)
      %td= user.link
      %td= user.role || "-"
      %td date
      %td date
      %td date
      %td= user.project_link || "-"
      %td= mail_to user.email, user.email
      %td number
      %td= user.github_link
